<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.adobe.plugins.CDVVideo"
      version="3.0.0">
    <name>CDVVideo</name>
    <description>This plugin allows you to play videos.</description>
    <license>MIT</license>
    <keywords>cordova,video,videos,movies</keywords>
    
    <js-module src="www/CDVVideo.js" name="CDVVideo">
        <clobbers target="plugins.CDVVideo" />
    </js-module>

    <!-- android -->
    <platform name="android">
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVVideo">
                <param name="ios-package" value="CDVVideo"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file src="src/ios/CDVVideo.m" />
        <source-file src="src/ios/MovieViewController.m" />
        
        <header-file src="src/ios/CDVVideo.h" />
        <header-file src="src/ios/MovieViewController.h" />
    </platform>
    
</plugin>
